.navigation {
  flex-basis: 100%;
  padding: 4rem 4rem 2.4rem 4rem;
  color: var(--color-secondary-light);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 6rem;
}
.navigation__search-box {
  position: relative;
}
.navigation__input {
  border: none;
  border-bottom: 1px solid var(--color-primary);
  outline: none;
  padding-bottom: 1.1rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.navigation__input::placeholder {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.16em;
}
.icon-search {
  position: absolute;
  right: 0;
  top: 0;
}
.navigation__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2.1rem;
  margin-top: 2.4rem;
}
.navigation__item {
  position: relative;
}
.navigation__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 500;
  letter-spacing: 0.16em;
  line-height: 15px;
}
.navigation__user {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  justify-content: end;
  width: 15.5rem;
}
.navigation__logo {
  /* justify-self: center; */
  margin: 0 auto;
}

.navigation__mobile-menu {
  display: none;
  position: relative;
}
.marquee {
  height: 33px;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary-light);
  padding: 0.5rem;
  /* width: 100vw; */
  overflow: scroll;
  -ms-overflow-style: none;
}
.marquee::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.marquee__list {
  align-items: center;
  gap: 1rem;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
}
.marquee__item{
  width: max-content;
  /* font-family: var(--font-primary); */

  font-size: 10px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.09em;
  text-align: center;
  text-transform: uppercase;
}
.marquee__item:not(:last-child)::after {
  content: '\2022';
  margin-left: 2rem;
  margin-right: 2rem;
}
@keyframes marqueeLeft {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

/* ------------------- NAVIGATION BREAD CRUMP --------------------- */
.navigation__breadcrump {
  height: 33px;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary-light);
  padding: 0.5rem;
  /* width: 100vw; */
  overflow: scroll;
  -ms-overflow-style: none;
}
.navigation__breadcrump::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.list--breadcrump {
  align-items: center;
  gap: 1rem;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.list__item--breadcrump {
  width: max-content;
  /* font-family: var(--font-primary); */

  font-size: 10px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.09em;
  text-align: center;
  text-transform: uppercase;
}

/* 600 / 16 = 37.5em */
@media only screen and (max-width: 37.5em) {
  .navigation {
    justify-content: space-between;
  }
  .navigation__mobile-menu {
    display: block;
  }
  .navigation__search-box,
  .navigation__list,
  .navigation__user {
    display: none;
  }
  .marquee__list{
    animation: scrollText 10s linear infinite;
  }
}
