@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import 'container.css';
@import 'typography.css';
@import 'buttons.css';
@import 'header.css';
@import 'navigation.css';
@import 'productCard.css';
@import 'footer.css';

:root {
  --color-primary: #000;
  --color-primary-light: #292929;
  --color-secondary: #fff;
  --color-secondary-light: #fff5eb;
  --color-option-1: #7c7c7c;
  --color-option-2: #862626;
  --color-option-3: #f2f2f2;
  --font-body: 'Monserrat', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Monserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 15px;
}


.swiper-button-next, .swiper-button-prev{
  color: var(--color-primary) !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 30px;
}
.swiper-button-prev::after {
  content: url(../../assets/icons/icon-arrowLTT.svg) !important;
}

.swiper-button-next::after {
  content: url(../../assets/icons/icon-arrowRTT.svg) !important;
}


@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
  .swiper-button-prev::after {
    content: url(../../assets/icons/icon-arrowLT.svg) !important;
  }
  
  .swiper-button-next::after {
    content: url(../../assets/icons/icon-arrowRT.svg) !important;
  }
}