@import '../style.css';
/* New Arrivals section */
.newArrivals {
  display: flex;
  justify-content: space-between;
  column-gap: 3.6rem;
  padding: 8rem 4rem;
}
.newArrivals__header {
  width: 20%;
  padding: 6rem 2.8rem;
  text-align: center;
  border: 1px solid var(--color-primary);
}
.newArrivals__header h4 {
  margin-bottom: 1.8rem;
}
.newArrivals__text {
  margin-top: 2.4rem;
  margin-bottom: 12rem;
}
.newArrivals__slider {
  width: 75%;
  overflow: hidden;
}
.newArrivals__slider .swiper-wrapper .product__card .product__header {
  height: 36.5rem;
}
@media only screen and (max-width: 37.5em) {
  .newArrivals {
    padding: 5rem 2rem;
  }
  .newArrivals__header {
    padding: 5rem 1rem 3rem 1rem;
    width: 50%;
  }
  .newArrivals__slider {
    width: 50%;
  }
  .newArrivals__slider .swiper-wrapper .product__card .product__header {
    height: 25rem;
  }
  .newArrivals__text {
    margin-top: 2.25rem;
    margin-bottom: 3.37rem;
  }
}
/* Best Sellers section */
.bestSellers {
  display: grid;
  grid-template-columns: 45rem 55rem;
  justify-content: center;
  column-gap: 12rem;
  row-gap: 6.5rem;
  padding: 8rem 0;
}
.bestSellers__header {
  grid-column: 1/2;
  grid-row: 1/2;
}
.bestSellers__header h2 {
  margin-top: 1rem;
}
.bestSellers__card--small {
  grid-column: 1/2;
  grid-row: 2/3;
}
.bestSellers__card--large {
  grid-column: 2/3;
  grid-row: 1/3;
}
.bestSellers__img {
  width: 100%;
  margin-bottom: 1.7rem;
}
.bestSellers__card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .bestSellers {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 5rem 2rem;
  }
  .bestSellers__header h2 {
    width: 80%;
  }
  .bestSellers__card--large {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .bestSellers__card--small {
    grid-row: 2/3;
  }
}

/* Mission section */
.mission {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5.2rem 15.3rem;
  background-color: var(--color-secondary-light);
}
.mission h6 {
  width: 100%;
}
.mission h3 {
  width: 70%;
  margin-right: auto;
  margin-top: 9px;
}

@media only screen and (max-width: 37.5em) {
  .mission {
    padding: 3rem 2rem;
  }
  .mission h3 {
    width: 100%;
    margin-bottom: 4rem;
  }
}
/* Perfumes section */
.perfumes {
  text-align: center;
  padding: 4rem;
}
.perfumes__header {
  margin-bottom: 3rem;
}
.perfumes__header h2 {
  margin-top: 8px;
}
.perfumes__img {
  width: 100%;
}
.perfumes__swiper .swiper-wrapper {
  height: 65rem;
}
.perfumes__swiper .swiper-wrapper .swiper-slide:nth-child(1) {
  width: 70%;
}
.perfumes__swiper .swiper-wrapper .swiper-slide:not(:first-child) {
  width: 32%;
}
.perfumes__swiper .product__card .product__header {
  height: 80%;
}

@media only screen and (max-width: 37.5em) {
  .perfumes {
    padding: 2rem;
  }
  .perfumes__swiper .swiper-wrapper {
    height: fit-content;
  }
  .perfumes__swiper .swiper-wrapper .swiper-slide:nth-child(1) {
    width: 100%;
  }
  .perfumes__swiper .swiper-wrapper .swiper-slide:not(:first-child) {
    width: 30%;
  }
  .perfumes__swiper .swiper-button-next,
  .perfumes__swiper .swiper-button-prev {
    background-color: var(--color-secondary-light);
  }
}

/* Seasonal section */
.showcase {
  text-align: center;
  height: fit-content;
  padding: 8rem 13rem 0;
}
.showcase__header h2 {
  margin-top: 8px;
}
.showcase__content {
  width: 100%;
  margin: 4.8rem auto;
  display: grid;
  grid-template-columns: 45rem 45rem;
  column-gap: 16rem;
  justify-content: center;
}
.showcase__slider {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 71rem;
}
.showcase__slider--1 {
  grid-column: 2/2;
  grid-row: 1/2;
}
.showcase__swiper {
  height: 100%;
  width: 100%;
  overflow-x: visible;
}
.showcase__banner {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  text-align: end;
}
.showcase__banner--1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.showcase__banner-img {
  width: 100%;
  height: 72rem;
  object-fit: cover;
  margin-bottom: 1.7rem;
}
.showcase__slider .swiper-wrapper .product__card .product__header {
  height: 23.7rem;
}
.showcase__slider .swiper-wrapper .swiper-slide {
  height: calc((100% - 3rem) / 2) !important;
}

@media only screen and (max-width: 37.5em) {
  .showcase {
    padding: 5rem 2rem;
  }
  .showcase__content {
    display: block;
    margin: auto;
  }
  .showcase__banner {
    margin-top: 2rem;
  }
  .showcase__banner .btn {
    display: none;
  }
  .showcase__slider {
    /* grid-row: 2/3; */
    height: 35.75rem;
  }
  .showcase__banner-img {
    height: 40rem;
  }
}

/* Designers section */
.designers {
  padding: 4rem 4rem 8rem 4rem;
  text-align: center;
  position: relative;
}
.designers__header {
  margin-bottom: 3.7rem;
}
.designers h2 {
  margin-top: 8px;
}
.designers__img {
  width: 100%;
  margin-bottom: 8px;
}
.designers__slider .swiper-wrapper {
  height: fit-content !important;
}
.designers__slider-button-next,
.designers__slider-button-prev {
  display: none !important;
}
@media only screen and (max-width: 37.5em) {
  .designers__slider-button-next,
  .designers__slider-button-prev {
    background-color: var(--color-secondary-light);
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .designers__slider-button-prev::after {
    content: url(../../assets/icons/icon-arrowLT.svg) !important;
  }

  .designers__slider-button-next::after {
    content: url(../../assets/icons/icon-arrowRT.svg) !important;
  }
}
/* Section Blog */
.blog {
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
  background-color: var(--color-secondary-light);
  padding: 8rem 4rem 6.6rem 4rem;
}
.blog__header {
  width: 30%;
}
.blog__header h2 {
  width: 70%;
  margin-bottom: 4rem;
}
.blog__content {
  width: 70%;
  display: flex;
  column-gap: 1.6rem;
}
.blog__card {
  width: 33%;
}
.blog__img {
  width: 100%;
  margin-bottom: 1.6rem;
}
.blog__title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-primary-light);
  margin: 8px 0;
  line-height: 160%;
}
.blog__text {
  color: var(--color-option-1);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 159.5%;
}

@media only screen and (max-width: 37.5em) {
  .blog {
    padding: 5rem 2rem;
    row-gap: 4rem;
  }
  .blog,
  .blog__content {
    flex-wrap: wrap;
  }
  .blog__header,
  .blog__content,
  .blog__card {
    width: 100%;
  }
  .blog__header {
    text-align: center;
  }
  .blog__content {
    row-gap: 2.5rem;
  }
  .blog__header h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
}
