@import '../style.css';
/* Best Sellers section */
.bestSellers {
  display: grid;
  grid-template-columns: 45rem 55rem;
  justify-content: center;
  column-gap: 12rem;
  row-gap: 6.5rem;
  padding: 8rem 0;
}
.bestSellers__header {
  grid-column: 1/2;
  grid-row: 1/2;
}
.bestSellers__header h2 {
  margin-top: 1rem;
}
.bestSellers__card--small {
  grid-column: 1/2;
  grid-row: 2/3;
}
.bestSellers__card--large {
  grid-column: 2/3;
  grid-row: 1/3;
}
.bestSellers__img {
  width: 100%;
  margin-bottom: 1.7rem;
}
.bestSellers__card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .bestSellers {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 5rem 2rem;
  }
  .bestSellers__header h2 {
    width: 80%;
  }
  .bestSellers__card--large {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .bestSellers__card--small {
    grid-row: 2/3;
  }
}

/* Mission section */
.mission {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5.2rem 15.3rem;
  background-color: var(--color-secondary-light);
}
.mission h6 {
  width: 100%;
}
.mission h3 {
  width: 70%;
  margin-right: auto;
  margin-top: 9px;
}

@media only screen and (max-width: 37.5em) {
  .mission {
    padding: 3rem 2rem;
  }
  .mission h3 {
    width: 100%;
    margin-bottom: 4rem;
  }
}
/* Seasonal section */
/* Designers section */
.designers {
  padding: 4rem 4rem 8rem 4rem;
  text-align: center;
}
.designers__header {
  margin-bottom: 3.7rem;
}
.designers h2 {
  margin-top: 8px;
}
.designers__img {
  width: 100%;
  margin-bottom: 8px;
}
.swiper-wrapper {
  height: fit-content !important;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
@media only screen and (max-width: 37.5em) {
  .swiper-button-next,
  .swiper-button-prev {
    background-color: var(--color-secondary-light);
    display: flex !important;
    justify-content: center;
    align-items: center;

  }
  .swiper-button-prev::after {
    content: url(../../assets/icons/icon-arrowLT.svg) !important;
  }

  .swiper-button-next::after {
    content: url(../../assets/icons/icon-arrowRT.svg) !important;
  }
}
/* Section Blog */
.blog {
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
  background-color: var(--color-secondary-light);
  padding: 8rem 4rem 6.6rem 4rem;
}
.blog__header {
  width: 30%;
}
.blog__header h2 {
  width: 70%;
  margin-bottom: 4rem;
}
.blog__content {
  width: 70%;
  display: flex;
  column-gap: 1.6rem;
}
.blog__card {
  width: 33%;
}
.blog__img {
  width: 100%;
  margin-bottom: 1.6rem;
}
.blog__title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-primary-light);
  margin: 8px 0;
  line-height: 160%;
}
.blog__text {
  color: var(--color-option-1);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 159.5%;
}

@media only screen and (max-width: 37.5em) {
  .blog {
    padding: 5rem 2rem;
    row-gap: 4rem;
  }
  .blog,
  .blog__content {
    flex-wrap: wrap;
  }
  .blog__header,
  .blog__content,
  .blog__card {
    width: 100%;
  }
  .blog__header {
    text-align: center;
  }
  .blog__content {
    row-gap: 2.5rem;
  }
  .blog__header h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
}
